{% extends "layout.html" %}
{% block title %}Lender Portal - Home {% endblock %}
{% block content %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" id="navbar-inner-custom">
    <div class="container-fluid">
      <a class="brand" href="#">
        Data Monitor
      </a>
      <div class="nav-collapse">
        <ul class="nav">
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
	<div class="row-fluid"</div>
		<div class="span3 left-nav">
			<ul class="nav nav-pills nav-stacked affix" id="tab">
			    <li class="active">
			    	<a href="#funnel" data-toggle="pill">Data Scraper (Live)</a>
			    </li>
			    <li>
			    	<a href="#archive" data-toggle="pill">Archive</a>
			    </li>
		    </ul>
		</div>
		<div class="span9">
			<div class="tab-content">
				<h1>There are 23 million small businesses in America</h1>
				<div class="tab-pane active sortable" id="funnel">
					<div id="chart1">  
						<div class="row-fluid" style="position:relative;">
							<div class="span10 chart" id="realtimechart"></div>
							<h3 id="chartlabel1">Source: Bundle</h3>
							<h3 id="chartlabel2">Rate: <span id="bundlerate"></span>/min</h3>
							<h3 id="chartlabel3">Total: <span id="bundlecount"></span></h3>
						</div>
					</div>
					<div id="chart2">  
						<div class="row-fluid" style="position:relative;">
							<div class="span10 chart" id="realtimechart2"></div>
							<h3 id="chartlabel1">Source: Vitals</h3>
							<h3 id="chartlabel2">Rate: <span id="vitals_doctors_rate"></span>/min</h3>
							<h3 id="chartlabel3">Total: <span id="vitals_doctors_count"></span></h3>
						</div>
					</div>
					<div id="chart3">  
						<div class="row-fluid" style="position:relative;">
							<div class="span10 chart" id="realtimechart3"></div>
							<h3 id="chartlabel1">Source: BBB</h3>
							<h3 id="chartlabel2">Rate: <span id="bbb_merchants_rate"></span>/min</h3>
							<h3 id="chartlabel3">Total: <span id="bbb_merchants_count"></span></h3>
						</div>
					</div>
					<div id="chart4">  
						<div class="row-fluid" style="position:relative;">
							<div class="span10 chart" id="realtimechart4"></div>
							<h3 id="chartlabel1">Source: ???</h3>
							<h3 id="chartlabel2">Rate: ???/min</h3>
							<h3 id="chartlabel3">Total: ???</h3>
						</div>
					</div>
								<hr>
				<p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>
				</div>
				<div class="tab-pane" id="archive">
					<hr>
					<h3>Nothing archived yet.</h3>
			  	</div>
		  	</div>
		</div>
	</div>
</div>

<div class="row-fluid"></div>
{% endblock %}  